/* line 17, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/screen.scss */
html {
  height: 100%;
}

/* line 14, ../scss/screen.scss */
body {
  height: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 100%;
  color: #333333;
}

/* line 23, ../scss/screen.scss */
.text-right {
  text-align: right;
}

/* line 1, ../scss/partials/layout/_header.scss */
header {
  padding: 15px 0;
  background: #636e22;
  text-align: center;
  font-size: 2em;
  color: #fff;
}

/* line 1, ../scss/partials/layout/_app.scss */
.l-app {
  width: 1200px;
  height: 94%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../scss/partials/layout/_tools.scss */
.l-tools {
  width: 229px;
  height: 100%;
  padding: 10px;
  float: left;
  overflow-y: auto;
}
/* line 8, ../scss/partials/layout/_tools.scss */
.l-tools:last-child {
  margin: 0;
}

/* line 1, ../scss/partials/layout/_read.scss */
.l-read {
  width: 680px;
  height: 100%;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  overflow-y: auto;
}

/* line 3, ../scss/partials/modules/_tools.scss */
.tools .tools-heading {
  margin: 0 0 .1em;
  padding: .3em;
  display: block;
  background: #636e22;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
/* line 13, ../scss/partials/modules/_tools.scss */
.tools .tools-item {
  margin: 0 0 .1em;
  padding: .3em;
  display: block;
  cursor: pointer;
}

/* line 1, ../scss/partials/modules/_textfield.scss */
.textfield {
  width: 150px;
  padding: .4em;
  border: none;
  vertical-align: middle;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: width 0.15s;
  -moz-transition: width 0.15s;
  -o-transition: width 0.15s;
  transition: width 0.15s;
}
/* line 10, ../scss/partials/modules/_textfield.scss */
.textfield:focus {
  width: 220px;
  -webkit-box-shadow: #555555 0 0 10px;
  -moz-box-shadow: #555555 0 0 10px;
  box-shadow: #555555 0 0 10px;
}

/* line 1, ../scss/partials/modules/_loader.scss */
.loader {
  width: 250px;
  height: 100px;
  margin: 0 0 0 -125px;
  padding: 2em 1em;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-box-shadow: #999999 0 0 25px;
  -moz-box-shadow: #999999 0 0 25px;
  box-shadow: #999999 0 0 25px;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
}

/* line 15, ../scss/partials/modules/_loader.scss */
.loader-indicator {
  width: 7px;
  height: 7px;
  margin: 0 5px 0 0;
  border-radius: 10px;
  display: inline-block;
  background: #636e22;
  -webkit-animation: loading .35s infinite alternate;
  animation: loading .35s infinite alternate;
}
/* line 25, ../scss/partials/modules/_loader.scss */
.loader-indicator:nth-child(2) {
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
/* line 30, ../scss/partials/modules/_loader.scss */
.loader-indicator:nth-child(3) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

/* line 36, ../scss/partials/modules/_loader.scss */
.loader-message {
  margin: 1.25em 0 0;
  font-size: 1.25em;
}

@-webkit-keyframes loading {
  /* line 42, ../scss/partials/modules/_loader.scss */
  from {
    opacity: 1;
  }

  /* line 46, ../scss/partials/modules/_loader.scss */
  to {
    opacity: 0.25;
  }
}

@keyframes loading {
  /* line 52, ../scss/partials/modules/_loader.scss */
  from {
    width: 7px;
    height: 7px;
  }

  /* line 57, ../scss/partials/modules/_loader.scss */
  to {
    width: 10px;
    height: 10px;
  }
}
