
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-circle-empty:before { content: '\e803'; } /* '' */
.icon-circle:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */