// Colors
$colorHighlightPrimaryHex: #636E22;
$colorHighlightPrimaryRGB: rgb(99, 110, 34);

$colorHighlightSecondaryHex: #878D67;
$colorHighlightSecondaryRGB: rgb(135, 141, 103);

$colorQuitePrimaryHex: #8D867A;
$colorQuitePrimaryRGB: rgb(141, 134, 122);

$colorQuiteSecondaryHex: #DDC7C2;
$colorQuiteSecondaryRGB: rgb(221, 199, 194);

$colorTextHex: #333;

// Fonts
$fontHighlight: 'Open Sans Condensed', sans-serif;