.message {
	width: 250px;
	min-height: 100px;
	margin: 0 0 0 -141px;
	padding: 2em 1em;
	border-radius: 5px;
	position: absolute;
	top: 100px;
	left: 50%;
	@include box-shadow(#999 0 0 25px);
	text-align: center;

	&.message-plain {
		background: rgba(255, 255, 255, .9);
	}

	&.message-success {
		background: $colorMessageSuccess;
		color: #fff;
	}

	&.message-warning {
		background: $colorMessageWarning;
	}

	&.message-error {
		background: $colorMessageError;
		color: #fff;
	}
}

.message-indicator {
	width: 7px;
	height: 7px;
	margin: 0 5px 1em 0;
	border-radius: 10px;
	display: inline-block;
	background: $colorHighlightPrimaryHex;
	-webkit-animation: loading .35s infinite alternate;
	animation: loading .35s infinite alternate;

	&:nth-child(2){
		-webkit-animation-delay: .25s;
		animation-delay: .25s;
	}

	&:nth-child(3){
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
	}
}

.message-close {
	position: absolute;
	top: 0;
	right: 7px;
	font-size: 2em;
	text-decoration: none;
	color: inherit;
}

.message-title {
	margin: 0 0 .75em;
	font-size: 1.25em;
}

.message-body {
	font-size: 1em;
}

@-webkit-keyframes loading {
	from {
		opacity: 1
	}

	to {
		opacity: .25
	}
}

@keyframes loading {
	from {
		width: 7px;
		height: 7px;
	}

	to {
		width: 10px;
		height: 10px;
	}
}
