.title {
	position: relative;
	text-transform: uppercase;
	@include text-shadow(shade($colorHighlightPrimaryHex, 70%) 0 -2px 0);
}

.title-tagline {
	margin: 0 0 0 5px;
	position: absolute;
	top: 18px;
	font-size: .35em;
	@include text-shadow(none);
}

.title-decoration {
	position: absolute;
	top: 10px;
	left: 50.45%;
	font-size: .6em;
}