.tools {

	.tools-heading {
		margin: 0 0 .1em;
		padding: .3em;
		display: block;
		background: $colorHighlightPrimaryHex;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
	}

	.tools-item {
		margin: 0 0 .1em;
		padding: .3em;
		display: inline-block;
		cursor: pointer;

		&.active {
			font-weight: bold;
		}
	}
}